<div>
  <h1 class="text-center text-4xl font-sans text-slate-400">
    Agregar Producto Nuevo
  </h1>
</div>
<div class="w-full">
  <form class="grid justify-items-center" action="/add" method="post">
    <label class="mx-4 w-3/4" for="ID_Categorias">Selecciona categoria:</label>
    <select
      class="w-3/4 mb-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      name="ID_Categorias"
      id="SelectCat"
      required
    >
      <option value="1">Herramientas</option>
      <option value="2">Material electrico</option>
      <option value="3">Material para Plomeria</option>
      <option value="4">Hogar</option>
      <option value="5">Jardin</option>
      <option value="6">Proteccion</option>
    </select>
    <input
      name="Nombre"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="text"
      placeholder="Nombre Producto"
      required
    />
    <input
      name="Marca"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="text"
      placeholder="Marca"
      required
    />
    <input
      name="Precio"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="number"
      placeholder="Precio"
      required
    />
    <input
      name="Descripcion"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="text"
      placeholder="Descripcion"
      required
    />
    <input
      name="InVentario"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="number"
      placeholder="Cantidad"
      required
    />
    <input
      name="ImagenesURL"
      class="w-3/4 my-2 mx-4 rounded-md ring-2 ring-pink-300 focus:ring-pink-500 focus:outline-none focus:outline-pink-500 focus:shadow-outline-pink px-1"
      type="text"
      placeholder="Url de la Imagen"
    />
    <!-- submit -->
    <input
      type="submit"
      class="w-3/4 my-2 mx-4 rounded-md bg-gradient-to-r from-purple-400 to-pink-400 text-slate-100 focus:bg-pink-700 focus:text-white focus:outline-none focus:shadow-outline-pink px-1 hover:from-pink-500 hover:to-pink-500"
      value="Agregar"
    />
  </form>
</div>
